#menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu li {
	margin: 0;
	padding: 0;
	float: left;
}

#menu li a {
	display: inline;
	overflow: hidden;
	width: auto;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	color: white;
	border-right: 2px solid black;
	background: green;
}

#menu li a:hover, #menu li a:active, #menu li a:focus {
	color: black;
	background: #1AD048;
}

#iframe {
	height: 1000px !important;
	width: 750px;
	background-color: white;
	margin: auto;
}

#parent {
	background-color: #aaaaaa;
}

#homeContainer {
	width: 750px;
	background-color: white;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	verticle-align: centre;
	height:600px;
}